<!--**************************
******************************
*** Sign in Modal
******************************
****************************** -->
<div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-include="'index/views/sign_modal.html'">
</div>


<!--**************************
******************************
*** Sign in Modal for prof stage [1]
******************************
****************************** -->
<div class="modal fade" id="drRegStep1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" ng-include="'index/views/pro_st1.html'">
</div>

<!--**************************
******************************
*** Sign in Modal for student
******************************
****************************** -->
<div class="modal fade " id="sign-in-st" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" ng-include="'index/views/sign_student.html'">
</div>


<!--**************************
******************************
*** Login Modal
******************************
****************************** -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true" ng-include="'index/views/login.html'">
</div>
