<div class="container">
    <a class="navbar-brand  mb-0 h1" href="#">
        <img src="general/images/azhar-logo.jpg" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="azhar-logo">
        Azhar University
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item float-right">
                <a class="nav-link" href="#">History</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Sections</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Professors</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-primary my-2 my-sm-0 font-weight-bold" type="button" data-toggle="modal"
                    data-target="#sign-in">
                    Sign in
            </button>
            <span class="text-light">&nbsp; or &nbsp;</span>
            <button class="btn btn-outline-success my-2 my-sm-0 font-weight-bold" type="button" data-toggle="modal"
                    data-target="#login">Log in</button>
        </form>
    </div>
</div>
